@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "style-item.scss";
@import "bootstrap-overrides.scss";



/*============Custom Sytle=============*/

.multiselect-native-select{
    display: block;
    width: 100% ;
    .btn-group,.multiselect{ 
        width: 100% ;
    }
    .btn{
        text-align: left;
        background: transparent;
        border: 1px solid #ced4da;
        color: #495057;
    }
    .dropdown-toggle::after{
        position: absolute;
        right: 10px;
        top: 15px;
    }
     
}
//-----Breadcrumb
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
input[disabled]{
	cursor: not-allowed;
}



/*====================REGULAR CSS====================*/

@media (max-width: 767px){
	.pd_100 {
		padding-top: 35px;
	}
}
.c-thead{
	background: $bg-orange;
	border-color: $bg-orange;
	color:#fff;
}
.btn-secondary ,.btn-secondary:hover{
	color: #fff;
	background-color: $bg-orange;
	border-color: $bg-orange;
	
}
.btn-secondary:active {
	@include shadow(none !important);
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: $bg-orange;
	border-color: $bg-orange;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center left;
	background: $bg-orange;
	color: #fff;
}
table.dataTable thead th, table.dataTable tfoot th{
	font-weight: 500;
}
#dashboard h2 {
	text-align: left;
}
table.dataTable thead th, table.dataTable thead td ,table.dataTable tfoot th, table.dataTable tfoot td{
    border-bottom: 1px solid $bg-d-orange;
	border-top: 1px solid $bg-d-orange;
}
@media all and (max-width:767px){
	.table-responsive{
		padding-top: 40px !important;
	}
}
select{
	width: 100%;
	display: block;
	text-align: left;
    background: transparent;
    border: 1px solid #ced4da;
    color: #495057;
	height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
	@include radius(.25rem);
	color: #495057;
	
}