body.side-panel {
  padding-left: 17rem;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96; }
  @media (min-width: 992px) {
    body.side-panel {
      padding-top: 0;
      padding-left: 17rem; } }
  body.side-panel h1,
  body.side-panel h2,
  body.side-panel h3,
  body.side-panel h4,
  body.side-panel h5,
  body.side-panel h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40; }
  body.side-panel h1 {
    font-size: 6rem;
    line-height: 5.5rem; }
  body.side-panel h2 {
    font-size: 3.5rem; }
  body.side-panel h3 {
    font-size: 2rem; }
  body.side-panel p.lead {
    font-size: 1.15rem;
    font-weight: 400; }
  body.side-panel .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem; }
  body.side-panel .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem; }
    body.side-panel .social-icons a:last-child {
      margin-right: 0; }
    body.side-panel .social-icons a:hover {
      background-color: #BD5D38; }
  body.side-panel .dev-icons {
    font-size: 3rem; }
    body.side-panel .dev-icons .list-inline-item i:hover {
      color: #BD5D38; }

/*-----------------------------------*/
[type="submit"] {
  background: #bd5d38;
  color: #fff;
  min-width: 150px; }

button.dt-button:active:not(.disabled):hover:not(.disabled), button.dt-button.active:not(.disabled):hover:not(.disabled), div.dt-button:active:not(.disabled):hover:not(.disabled), div.dt-button.active:not(.disabled):hover:not(.disabled), a.dt-button:active:not(.disabled):hover:not(.disabled), a.dt-button.active:not(.disabled):hover:not(.disabled) {
  background: #bd5d38;
  border-color: #bd5d38;
  color: #fff; }

button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled) {
  background: #af380b;
  color: #fff;
  border-color: #af380b; }

.side-panel #sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }
.side-panel #sideNav .navbar-toggler:focus {
  outline-color: #d48a6e; }
@media (min-width: 992px) {
  .side-panel #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    .side-panel #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      .side-panel #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    .side-panel #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      .side-panel #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        .side-panel #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          .side-panel #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

/*================================CUSTOM HEADER STYLE==========================================*/
.bg-orange {
  background: #bd5d38; }
  .bg-orange *, .bg-orange *:hover {
    color: #fff; }
  .bg-orange a:hover {
    background: #af380b; }
  .bg-orange .nav-link {
    text-transform: uppercase; }

.logo {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #fff; }
  .logo img {
    max-width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: block; }

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }
.bg-primary {
  background-color: #BD5D38 !important; }

.text-primary {
  color: #BD5D38 !important; }

a {
  color: #BD5D38; }
  a:hover, a:focus, a:active {
    color: #824027; }

/*============Custom Sytle=============*/
.multiselect-native-select {
  display: block;
  width: 100%; }
  .multiselect-native-select .btn-group, .multiselect-native-select .multiselect {
    width: 100%; }
  .multiselect-native-select .btn {
    text-align: left;
    background: transparent;
    border: 1px solid #ced4da;
    color: #495057; }
  .multiselect-native-select .dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 15px; }

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee; }

ul.breadcrumb li {
  display: inline;
  font-size: 18px; }

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

/*====================REGULAR CSS====================*/
@media (max-width: 767px) {
  .pd_100 {
    padding-top: 35px; } }
.c-thead {
  background: #bd5d38;
  border-color: #bd5d38;
  color: #fff; }

.btn-secondary, .btn-secondary:hover {
  color: #fff;
  background-color: #bd5d38;
  border-color: #bd5d38; }

.btn-secondary:active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #bd5d38;
  border-color: #bd5d38; }

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center left;
  background: #bd5d38;
  color: #fff; }

table.dataTable thead th, table.dataTable tfoot th {
  font-weight: 500; }

#dashboard h2 {
  text-align: left; }

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
  border-bottom: 1px solid #af380b;
  border-top: 1px solid #af380b; }

@media all and (max-width: 767px) {
  .table-responsive {
    padding-top: 40px !important; } }

/*# sourceMappingURL=style.css.map */
